.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #383838;
}

.nav-list li {
    float: left;
}

.nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list li a:hover {
    background-color: #181818;
}

.member img {
    border-radius: 3px;
    margin-left: 3px;
    margin-top: 5px;
}
